.main-title {
    padding: 41px 0;
    text-align: center;
    color: #637f83;
}

.main-title__header {
    position: relative;
    top: -5px;
    font-size: 34px;
}

.main-title__description {
    word-spacing: -2px;
    font-size: 24px;
    font-weight: 400;
}