@import './subscription.css';
@import './social.css';

.footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    background-color: #637f83;
    color: #fff;
}

.footer .main-title {
    padding-top: 47px;
    padding-bottom: 37px;
    color: #fff;
}

.line_footer {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #597275;
}

.designed-by {
    padding: 39px 50px;
    text-align: center;
    font-size: 14px;
}