@import './logo.css';
@import './navigation.css';
@import './banner.css';

.header-container {
    display: flex;
    align-items: center;
    max-width: 1170px;
    height: 90px;
    margin: 0 auto;
}

@media screen and (max-width: 1170px) {
    .header-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 900px) {
    .header-container {
        position: fixed;
        width: 100%;
        padding: 0 16px;
        background-color: #fff;
        height: 60px;
    }

    .header-container + * {
        margin-top: 60px;
    }
}