.subscription-wrap {
    display: block;
    width: 100%;
    max-width: 1170px;
    min-height: 195px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.subscription-ways-wrap {
    margin-left: -29px;
}

.subscription-ways-wrap::after, .via-email__header::after {
    content: "";
    display: table;
    clear: both;
}

.subscription__way {
    display: block;
    float: left;
    width: 50%;
    min-height: 103px;
    margin-top: 40px;
    padding-left: 29px;
}

.via-email {
    display: block;
}

.via-email__header {
    display: block;
    color: #fff;
}

#letter {
    display: block;
    float: left;
    width: 7%;
}

.via-email__header-text {
    display: block;
    float: left;
    width: 90%;
    padding-left: 16px;
}

.via-email__header-text_main {
    font-size: 18px;
}

.via-email__header-text_description {
    padding-top: 6px;
    font-size: 14px;
}

.email-form {
    display: flex;
    justify-content: space-between;
}

.email-form__input {
    width: 100%;
    min-width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #597275;
    margin-top: 25px;
    padding: 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.email-form__button {
    height: 40px;
    margin-top: 25px;
    margin-left: 10px;
    background-color: #597275;
    word-spacing: -2px;
    letter-spacing: 2px;
}

.via-twitter {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #597275;
}

#twitter {
    margin-left: 30px;
    margin-top: 25px;
    align-self: flex-start;
    flex-shrink: 0;
}

.via-twitter__description {
    margin: 20px 29px;
    max-width: 429px;
    font-size: 14px;
    line-height: 22px;
    color: #b5c7c9;
}

.via-twitter__link {
    color: #fff;
}

@media screen and (max-width: 1170px) {
    .subscription-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 900px) {
    .subscription-wrap {
        padding-left: 16px;
        padding-right: 16px;
    }

    .subscription__way {
        width: 100%;
    }

    .via-email {
        padding-right: 0;
    }
}